<div class="container-fluid">
<div class="row">
    <div class="col-4">
        <h4>Get in touch</h4>
      <h5>  <i class=" fa-address-card"></i>rahma@gmail.com </h5>
      <h5><i class="fa-solid fa-envelope"></i>0123456679</h5>
    </div>
    <div class="col-4">
     <button type="button" class="btn" >contant with me</button>
    </div>
    <div class="col-4" style="text-align: center;">
      <h6>  <i class="fa-brands fa-facebook-square">facebook</i></h6>
       <h6><i class="fa-brands fa-github"></i>githob</h6> 
       <h6 > @copy right</h6>
    </div>
</div>
</div>