<div class="container">
<div class="row">
    <div class="col-4 bg-Light">
        <h1>About me</h1>
    </div>
<div class="col-8">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Neque, id veniam at ex cupiditate reiciendis alias. 
         Aut molestias incidunt aperiam.
         Voluptates tempora itaque et dolorem nulla repellendus dolores quae est.</h3>
         <a download href="./app.html" class="download-btn bg-dark text-white ">Dowenloud Resume<i class="fa fa-downloud"></i></a>
    
    </div>
    </div>
</div>